#upLeft {
    float: right;
    
    }
    #downLeft {
    float: right;
    }
    #upRight {
    
    float: right;
    }
    
    #downRight {
    
    float: right;
    }
    .clear {
    clear: both;
    }